@charset "utf-8";
/*Simplify width and height calculations*/
html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    margin: 0;
    color: #4B4B4B;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    background-color: #EFF5F8;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
}
h1, h2 {
}
h1 {
    margin: 0px;
    padding: 20 0 px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    margin-top: 0.5em;
    font-size: 2.25em;

}
a {
    font-weight: 200;
    text-decoration: none;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
    font-style: normal;
}
a:link {
    color: #f78979;
}
a:visited {
    color: #ff944c;
}
a:hover , a:active, a:focus{
    color: #7f3300;
    text-decoration: underline;
}
#menulink {
    margin: 0;
    text-align: center;
    background-color: #1e1e1e;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
}
#menulink a {
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    display: block;
    margin-top: 0px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
    font-style: normal;
}
#navlinks {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background: #000000;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
	-webkit-transition: all ease-out 0.5 s;
	transition: all ease-out 0.5 s;
}
#navlinks.displayed {
    top: 135px;
    z-index: 1;
}
#navlinks.start {
    display: none;
}
#navlinks.collapsed {
    top: -12em;
    opacity: 0;
}
#navlinks a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
    color: #f68979;
}
main, aside {
    margin-left: 4%;
	margin-right: 4%;
}
#hero img {
    max-width: 100%;
	dispay: block;
}
#hero p {
    color: #F68979;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
	margin-top: 10px;
    font-family: "Source Code Pro", "Source Code Pro Black", "Source Code Pro ExtraLight", "Source Code Pro Light", "Source Code Pro Semibold";
	font-style: normal;
}

figure {
	width: 400px;
	max-width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
figure img {
    max-width: 100%;
}
figcaption {
    display: block;
    margin-top: 0 5em;
    font-size: 0 75em;
    text-transform: uppercase;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1e1e1e;
	color: white;
	font-size: 0.8em;
	text-align: center;
}

@media (min-width: 700px){
	
	#menulink   {
		display: none;
	}
	#navlinks {
		max-width: 1000px;
		position: static;
		background-color: transparent;
	}
	#navlinks.collapsed {
		opacity: 1;
	}
	#navlinks a{
		
    width: 20%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    color: #1e1e1e;
	}
	header{
		overflow: hidden;
	}
	#hero p {
		width: 36%;
		padding-top: 20px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 0px;
		position: absolute;
		left: auto;
		bottom: auto;
		border: 5px solid white;
		color: white;
		right: 34px;
		top: 19px;
	}
	#hero {
		position: relative;
	}
	main {
		width: 60%;
	}
	aside {
		width: 28%;
		margin-left: 0px;
	}
	main, aside {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 0.875em;
		float: left;

	}
	footer {
		clear: left;
	}
}

@media (min-width:900px){
	.floatright {
		margin-left: 0px;
		margin-right: 10px;
		float: right;
	}
.floatleft {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}

}
